--- 
layout: default
---
<article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">
        <table>
            <tr>
                <th>Name</th>
                <th>Tic</th>
                <th>Exchange</th>
                <th>Asset</th>
                <th>Currency</th>
                <th>Phase</th>
                <th>Funky</th>
            </tr>

            {% for hyperwave in site.hyperwaves %}
            <tr>
                <td>
                    <a href="/hyperwaves/{{ hyperwave.name | escape | downcase }}"> {{ hyperwave.name }}</a>
                </td>
                <td>{{ hyperwave.tic }}</td>
                <td>{{ hyperwave.exchange }}</td>
                <td>{{ hyperwave.asset }}</td>
                <td>{{ hyperwave.currency }}</td>
                <td>{{ hyperwave.current_phase }}</td>
                <td>{{ hyperwave.is_funky }}</td>

            </tr>
            {% endfor %}

        </table>

    </div>

</article>